[defaults]
inventory = /home/ubuntu/ansible_assignments/assignment5/inventory
remote_user = ubuntu
private_key_file = /home/ubuntu/ansible_assignments/assignment5/yuvaraj-aws.pem
host_key_checking = False
